.st0 {
  fill:#FFFFFF;
}

div{
  width: 20%;
}

svg{
  position:relative;
}

.noBasicWrapper{
  position: relative;
}

.toLeft{
  animation: rotateElement 2s ease alternate infinite;
  animation-delay: 1.5s;
}

.toRight{
  animation: rotateElement 4s ease alternate-reverse infinite;
  animation-delay: 1.5s;
}

.center{
  animation: scaleElement 6s ease alternate-reverse infinite;
  animation-delay: 2s;
}

@keyframes scaleElement{
  8% { opacity: 0; }
  10% { opacity: 1; }
  85% { opacity: 1; }
  86% { opacity: 0; }
}

@keyframes rotateElement{
  from {
    transform: rotate(0deg);
  }2%{
    transform: rotate(12deg);
  }5%{
    transform: rotate(0deg);
  }60%{
    transform: rotate(0deg);
  }63%{
    transform: rotate(-4deg);
  }65%{
    transform: rotate(3deg);
  }67%{
    transform: rotate(0deg);
  }95%{
    transform: rotate(0deg);
  }96%{
    transform: rotate(0deg);
  }97%{
    transform: rotate(24deg);
  }98%{
    transform: rotate(0deg);
  }to{
    transform: rotate(36deg);
  }
}
